@import url(https://fonts.google.com/share?selection.family=Chakra%20Petch:wght@300);

    *{
        font-family: 'Chakra Petch';
    }

    .boto{
        display: flex;
        justify-content: space-evenly;
    }
    .botoheader{
        border: solid black;
        padding: 3vh 5vw 3vh 5vw;
    

    }


    .separador{
        background-color: black;
        height: 2px;
        margin-top: 10px;
    }

    .exercicis, .projecte{
        display: flex;
        justify-content: center;
    }

    .activitats{
        display: flex;
        justify-content: space-around;
        
    }

    .peu{
        display: flex;
        justify-content: space-between;
    }

    .clas_proj{
        border: solid black;
        padding: 2vh 30vw 2vh 30vw;
    }

    .activitat{
        border: solid black;
        padding: 12vh 3vw 12vh 3vw;
        
    }

    .centre{
        height: 70vh;
        width: 70vw;
        margin-left: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    a{
        text-decoration: none;
        color: black;
        text-align: center;
        transition: ease 1s; 
        

    }
    a:hover{
    outline: thick ridge pink;
    }
